.card {
  max-width: 260px;
  color: #242424;
  background-color: #fafafa;
  border: 1px solid #242424;
  border-radius: 5px;
  margin: 5px;
}
.top {
  padding: 10px;
}
.img {
  width: 100%;
}
.data {
  padding: 10px;
  text-align: center;
}
.dataItem {
  margin-bottom: 5px;
}

.bottom {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: #d3d3d3;
}
.bottomItem {
  width: 100%;
  border: 1px solid #242424;
}
