.card {
  max-width: 160px;
  color: #242424;
  background-color: #fafafa;
  border: 2px solid #242424;
  border-radius: 5px;
  margin: 5px;
  overflow: hidden;
  height: 100%;

  align-self: center;
  justify-self: center;
}
.top {
  padding: 10px;
}
.img {
  width: 75%;
  margin: 10px auto;
}
.data {
  padding: 10px;
  text-align: center;
}
.dataItem {
  margin-bottom: 5px;
}
.bottom {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid #242424;
  background-color: #d3d3d3;
}
.bottomItem {
  width: 100%;
}
.bottomItem:not(:last-child) {
  border-right: 1px solid #242424;
}
.online {
  color: #15ab15;
}
.offline {
  color: tomato;
}
